{% extends '@Front/Default/template.html.twig' %}

{% block title %} Comment ça marche  {% endblock %}

	{% block stylesheet %}
		<link href="{{asset('frontFolder/css/integration.css')}}" rel="stylesheet">
	

 <style>


      a.box_feat i {
      	color: #6dcff6;
      }
   


.min-height{
	min-height: 240px;
}


</style>

 {% endblock %}

{% block pageContainer %}

<div id="breadcrumb">
			<div class="container">
				<ul>
					<li><a href="#">Accueil</a></li>
					
					<li>Comment ça marche</li>
				</ul>
			</div>
		</div>
          
         
			
					 

					 
			<div class="container margin_80_55">


                <div class="main_title_2">
				<span><em></em></span>
				<h3>Louez votre lieu de tournage</h3>
			

				
			</div>


				
				<div class="row">
					
					<div class="col-lg-12">
						 
						<p class="p-services">
                          
                        Vous êtes un particulier ou professionnel, vous désirez  louer votre appartement, maison, immeuble ou autre lieu pour le tournage d’un film vidéo clip ou shooting ? Super ! 
                        Pour cela, il vous suffit de proposer votre bien ci-dessous en 3 étapes.  C’est simple et rapide. </p>
                        
                        <div class="text-center" style="margin-bottom:30px;"> <h5>Je propose mon lieu en 3 étapes ! </h5> </div>
                    </div>
                </div>

                  {#       <div id="single_tour_feat">
                <ul>
                    <li style="font-size:18px;"><i class="icon_set_1_icon-94" style="font-size: 50px;"></i> Mes coordonnées </li>
                    <li style="font-size:18px;"><i class="icon_set_1_icon-37" style="font-size: 50px;"></i> Mon lieu</li>
                    <li style="font-size:18px;"><i class="icon_set_1_icon-32" style="font-size: 50px;"></i>Mes photos</li>
                   
                   
                </ul>
            </div> 
                    #}      
                        


                   <div class="row">

                    <div class="col-lg-4 col-md-6">
					<a class="box_feat min-height" href="#0">
						<i class=" icon_set_1_icon-94"></i>
						<h3>Mes coordonnées</h3>
					
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat min-height" href="#0" >
						<i class=" icon_set_1_icon-37"></i>
						<h3>Mon lieu</h3>
						
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat min-height" href="#0">
						<i class="icon_set_1_icon-32"></i>
						<h3>Mes photos</h3>
						
					</a>
				</div>




						
					</div>
				</div>
				<!--/row-->
		
	






{% endblock %}

{% block javascript %}

{% endblock %}